@page
@model IndexModel
@{
    ViewData["Title"] = "Hej alle ";
    ViewData["Dagsdato"] = DateTime.Today;
}



<div class="text-center">
    <h1 class="display-4">Welcome to Razor pages</h1>
    <p>Learn  about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@Model.Address</p>
    
    <form method="Post">
        <label asp-for="@Model.Car.Name" class="control-label"></label>
        <input asp-for="@Model.Car.Name" class="form-control" />
        <label asp-for="@Model.Car.Year" class="control-label"></label>
        <input asp-for="@Model.Car.Year" class="form-control" />
        <input type="submit" value="Test Post request" />
    </form>
    <p>@Model.Name</p>
    @for (int i = 0; i < 2; i++)
    {

        <p>@i@Model.Message</p>
        <p>@Model.Address</p>
        <p>@(
               $"Bilens navn {Model.Car.Name} årstal {Model.Car.Year}" 
           )</p>
    }
    
<h2>Månedsdag @DateTime.Today.Day</h2>
</div>
